<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.ishaijaffe.zxingintent"
      version="1.0.0">
    <name>Zxing Intent</name>
    <description>Zxing Intent for Cordova for barcode scanning</description>
    <license>GNU</license>
    <keywords>cordova,intent,zxing,barcode</keywords>

    <js-module src="www/scanintent.js" name="ScanIntent">
        <clobbers target="ScanIntent" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScanIntent" >
                <param name="android-package" value="com.ishaijaffe.zxingintent.ScanIntent"/>
            </feature>
        </config-file>

        <source-file src="src/android/ScanIntent.java" target-dir="src/com/ishaijaffe/scanintent" />
        <source-file src="src/android/IntentIntegrator.java" target-dir="src/com/google/zxing/integration/android" />
        <source-file src="src/android/IntentResult.java" target-dir="src/com/google/zxing/integration/android" />
    </platform>
</plugin>
